.aboutme_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $medium;
}

.me {
  margin-left: 10px;
  height: 500px;
  box-shadow: 4px 4px 16px 3px #000000;
}

.just_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin-top: 50px;
}

.description1 {
  margin-top: 5%;
  font-size: 1.5rem;
  width: 600px;
  font-family: "Barlow";
  line-height: 30px;
}

.just_me2 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 8%;
  margin-bottom: 70px;
}

.my_diploma {
  height: 650px;
}

.hello {
  font-size: 3rem;
  font-family: "Mukta";
  text-align: center;
  color: #8ecae6;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

  text-align: center;
}

.mess_link {
  text-decoration: none;
  font-family: "Playfair Display";
color: #3ea4d4;
  cursor: pointer;
}

@media only screen and (max-width: 376px) {
  @include aboutme_res();
}

@media only screen and (min-width: 377px) and (max-width: 600px) {
  @include aboutme_res2();
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  @include aboutme_res3();
}

@media only screen and (min-width: 767px) and (max-width: 900px) {
  @include aboutme_res4();
}

@media only screen and (min-width: 900px) and (max-width: 1025px) {
  @include aboutme_res5();
}

@media only screen and (min-width: 1025px) and (max-width: 1225px) {
  @include aboutme_res6();
}

@media only screen and (min-width: 1225px) and (max-width: 1439px) {
  @include aboutme_res6();
}
