.footer_container {
  background-color: $medium;
  height: 120px;
  border-top: 4mm ridge #8ECAE6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.build_with_love {
  margin-right: 20px;

  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
}


@media only screen and (max-width: 480px) {
  @include footer1();
}
