.footer_container {
  background-color: $medium;
  height: 120px;
  border-top: 4mm ridge #dba39a;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.build_with_love {
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.mail_to_me {
  height: 30px;
  margin-right: 20px;
}

.linked {
  height: 30px;
  margin-right: 10px;

}


.mail_to_me :hover,
.linked :hover{
  box-shadow: 1px 20px red;
}

.footer_container2 {
  display: flex;
  justify-content: center;
}
