.sub1 {
  background-color: #eff5f5;
}
.sub1 .hi {
  font-size: 6rem;
}
.sub1 .web_dev {
  font-size: 6rem;
}
.sub1 .my_name {
  font-size: 2rem;
}
.sub1 .name {
  font-size: 4rem;
}
.sub1 h3 {
  font-size: 2rem;
}