@mixin xs_screen {
  //Navbar
  .navbar_container {
    flex-direction: column;
  }
  .nav_link {
    margin-top: 5px;
    font-size: 1.7rem;
    margin-left: 5px;
  }

  //First section about me
  .cont1 {
    flex-direction: column;
    height: auto;
    .lets_build {
      font-size: 3.3rem;
      margin-top: 5%;
    }
    .my_description {
      width: 300px;
      font-size: 1.3rem;
      text-align: center;
    }
    .landing {
      width: 320px;
      height: 290px;
    }
  }

  //about me section
  .technologies {
    flex-direction: column;
  }

  //projects section

  .box1,
  .box2,
  .box3 {
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    .img {
      width: 320px;
      height: 200px;
    }
    .description {
      width: 320px;
    }
  }

  .box2 {
    flex-direction: column-reverse;
    align-items: center;
  }

  // certifications
  .certificate {
    width: 320px;
  }

  //Contacts
  .contacts_container {
    margin-top: 10%;
  }

  #get_intouch {
    font-size: 4rem;
  }
}

@mixin s_screen {
  @include xs_screen();

  //first section about me

  .cont1 {
    .landing {
      width: 370px;
      height: 340px;
    }
  }

  //projects
  .box1,
  .box2,
  .box3 {
    .img {
      width: 370px;
    }
  }

  //certifications
  .certificate {
    width: 370px;
  }
}

@mixin m_screen {
  @include s_screen();

  //first about me section

  .cont1 {
    .lets_build {
      font-size: 4rem;
    }

    .my_description {
      width: 400px;
    }

    .landing {
      width: 420px;
      height: 370px;
    }
  }

  //projects
  .box1,
  .box2,
  .box3 {
    .img {
      width: 400px;
    }
  }

  //certifications
  .certificate {
    width: 400px;
  }
}

@mixin tablet {
  @include m_screen();
  .navbar_container {
    flex-direction: row;
  }

  //first about me section

  .cont1 {
    .lets_build {
      margin-top: 10%;
    }
    .my_description {
      width: 600px;
      font-size: 1.5rem;
    }

    .landing {
      width: 500px;
      height: 500px;
    }
  }

  // about me section

  .description {
    font-size: 1.5rem;
  }

  // projects section
  .box1,
  .box2,
  .box3 {
    .description {
      font-size: 1.5rem;
    }
  }
}

@mixin tablet1 {
  @include tablet();
  //navbar
  .navbar_container {
    .nav_link {
      font-size: 2.5rem;
    }
  }

  //first section about me
  .cont1 {
    .lets_build {
      font-size: 7rem;
    }
    .my_description {
      font-size: 2rem;
      width: 80%;
    }
  }
  //second ebout me section
  .aboutme_container {
    .description {
      font-size: 1.7rem;
    }

    .technologies {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .technologies_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        font-family: "Ysabeau", sans-serif;
        font-size: 1.5rem;
      }
    }
  }

  //projects

  .box1,
  .box2,
  .box3 {
    .img {
      width: auto;
      height: 400px;
    }

    .name1 {
      font-size: 2rem;
    }

    .description {
      width: 800px;
      font-size: 2rem;
    }
  }

  //certifications
  .certificate {
    width: 800px;
  }

  //contacts
  #get_intouch {
    font-size: 6rem;
  }
  .get_intouch2 {
    font-size: 1.7rem;
  }
}
