.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $medium;

  height: 80px;
 
}

.nav_item {
  list-style-type: none;
  background-color: transparent;
}

.link1,
.link2 {
  text-decoration: none;
  background-color: transparent;
  color: #3c2a21;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-right: 20px;
}
