@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.projects_container {
  background-color: $medium;
  height: 690px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.box1,
.box2,
.box3 {
  width: 400px;
  height: 600px;
  margin-top: 3%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .description {
    margin-top: 10px;
    font-family: "Barlow";
    font-size: 1.2rem;
    width: 300px;
  }

  .technologies {
    margin-top: 10px;
  }
}

.img {
  height: 300px;
  width: 300px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.name {
  font-family: "Mukta";
  font-size: 2rem;
  color: #8ECAE6;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.technologies {
  font-family: "Mukta";
  font-size: 1.3rem;
}

.tech {
  font-family: "Barlow";
  font-size: 1.2rem;
}
.tech1 {
  font-family: "Barlow";
  font-size: 1.2rem;
  margin-bottom: 20px;
}

@media only screen and (max-width: 426px) {
  @include projects1();
}

@media only screen and (min-width: 426px) and (max-width: 960px) {
  @include projects2();
}

@media only screen and (min-width: 960px) and (max-width: 1124px) {
  @include projects3();
}

@media only screen and (min-width: 1124px) and (max-width: 1324px) {
  @include projects4();
}
