@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;700&family=Playfair+Display&      display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Sacramento&family=Teko:wght@500&display=swap");

@import "variables.scss";
@import "navbar.scss";
@import "landing.scss";
@import "projects.scss";
@import "contacts.scss";
@import "aboutme.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
